.container {
    padding-top: 40px;
}

.col {
    display: flex;
    justify-content: center;
}

.row {
    text-align: center;
    border: 1px rgb(94, 94, 94) solid;
    border-radius: 20px;
    width: 30%;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(134, 134, 134, 0.4);
}

h1 {
    font-size: 20px;
    margin: 0;
}